@media (max-width: 1400px) {
    .cv-container {
        padding:0px 20px;
    }

    .boxed-layout .cv-author-info-wrapper .author-description{
        width:58%;
    }
}

@media (max-width: 600px) {
    .list-archive-layout article .entry-header,
    .list-archive-layout article .entry-content,
    .list-archive-layout article .entry-btn,
    .list-archive-layout article .entry-footer{
    width: 100%;
    padding:0px;
}

.site-branding{
    width:70%;
}

.cv-footer-logo{
    width:70%;
    margin:0 auto;
}

#cv-scrollup{
    right:0px;
}

.single .entry-content{
    text-align: justify;
}

#site-footer-navigation{
    padding:15px 0px;
}

.list-archive-layout article .post-thumbnail{
    width: 100%;
    margin-bottom: 30px;
}
.menu-toggle.cv-hide{
    margin: 10px 20px 0 0;
}

.cv-menu-extra-wrap{
    margin: 4px 0px 0 10px;
}

.site-header .cv-container{
    display: flex;
    align-items: center;
}

.site-header .cv-menu-wrapper{
    margin-left: auto;
}

.site-title a{
    font-size: 34px;
}

#masthead {
    padding:20px 0px;
}

#site-navigation ul li .sub-toggle a{
    line-height: 25px;
}
}